<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Analyzers" version="1.0.8" targetFramework="net481" developmentDependency="true" />
  <package id="BepInEx.Core" version="5.4.21" targetFramework="net481" />
  <package id="BepInEx.BaseLib" version="5.4.20" targetFramework="net481" />
  <package id="HarmonyX" version="2.10.0" targetFramework="net481" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net481" />
  <package id="MonoMod.RuntimeDetour" version="22.3.23.4" targetFramework="net481" />
  <package id="MonoMod.Utils" version="22.5.1.1" targetFramework="net481" />
  <package id="SemanticVersioning" version="2.0.2" targetFramework="net481" />
  <package id="Unity.InputSystem" version="1.5.0" targetFramework="net481" />
  <package id="UnityEngine.Modules" version="2021.3.33" targetFramework="net481" developmentDependency="true" />
</packages>